@charset "UTF-8";

body{
    background-color: #6aa473;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   color: #54815c;
}

h1#principal{
    text-align: center;
    background-color: #486e4e;
    color: white;
}

h2{
  color: #47774F;
}
.basico{
    color: #4f7b57

}
.intermediario {
    color: yellowgreen;

}
.avançado {
    color: rgb(165, 9, 9);

}
.destaque {
    background-color: rgb(181, 181, 96);
}